.card {
    border: 1px solid #F8F8F8;
    padding: 30px;
    width: 220px;
    border-radius: 40px;
    margin-bottom: 30px;
    transition: box-shadow 0.2s ease-out, transform 0.2s ease-out;


  &:hover {
       box-shadow: 0 20px 35px rgba(0, 0, 0, 0.06);
       transform: translateY(-5px);
  }

  .plus {
    cursor: pointer;
  }

  //img {
  //    width: 100%;
  //    height: auto;
  //}

  .favourite {
      position: absolute;
      cursor: pointer;
  }

  span {
      font-size: 12px;
  }

  h5 {
      font-weight: 400;
      font-size: 14px;
  }
}
